[alias]
  mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
  sync = "!git pull origin $(git mainbranch) --rebase"
  squash = "!git rebase -v -i $(git mainbranch) --autosquash"
  publish = push origin HEAD --force-with-lease
  deploy = push origin main:production

[core]
  editor = nvim

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  default = simple
  autoSetupRemote = true

[rerere]
  enabled = true
  autoupdate = true

[tag]
  sort = version:refname

[user]
  name = Nicolás Pablo Castro Leal
  email = npcastrol@gmail.com
